body 
{
    background-color: rgba(0, 0, 0, 0.918);
    color: #f7d200;
    text-align: center;
    font-family: "Arial New Roman", Georgia, Serif;
}
form
{
    border: 3px solid rgb(255, 146, 3);
}
footer
{
    text-align: right;   
}